


body{
  
    

    font-family:Arial, Helvetica, sans-serif;

  /* margin:480px; */
   margin:0;



    min-height: 100vh;
    min-width: 100vh;


   /* padding-left:12%;
    padding-right:12%;
    padding-bottom: 8%; */

   

}

.container{
    display:flex;
    flex-direction: column;
}




.darkGray{
    background-color:#1F2937 ;
    color:white;
   
   display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
 
    margin:0px;
/*
    width:50%;
    padding-left:12%;
    padding-right:12%;
    padding-bottom: 8%;
*/

   /* padding-left:12%;
    padding-right:12%;
    padding-bottom: 8%; */



   /* In case I want to keep box the same size i guess min-height: 33vh;
    min-width: 33vh; */

   /* padding-left:150px;
    padding-right:150px; */
    padding-left:50rem;
    padding-right: 50rem;
    padding-bottom: 5rem;
   
}
.white{
    background-color:#F9FAF8;

display:inline-flex;
flex-direction: column;
flex:1;


   /* width:58%;*/
   padding: 3rem 0 4rem 0;

}
.wrapWhite{
    display:flex;
    flex-direction: column;
    align-self: center;
}
h2{
    text-align: center;
    font-size:xx-large;
    margin:0rem 0 3rem 0;

}
.card{
    display:flex;
    flex-direction: column;
}
.deck{
    display:flex;
    gap:40px;
}
.subtext{
display:flex;
text-align: center;
width:150px;

}

#placeholder{
    display:flex;
    border-style: solid;
    border-color:#3882F6;
    max-width: 150px;
    height: 150px;;
    border-radius: 10px;
    justify-content: center;
}


.header{
    display:flex;
    justify-content: space-between;
    align-items:center;
}


button{


    background-color: #3882F6;
    color:white;
    font-weight: bold;
    border-radius: 10px;
    font-size: larger;
    padding: 10px 30px 10px 30px;
    border:0px;



}
#clearButton{
    background-color: none;
    color:white;
    font-weight: bold;
    border-style: solid;
    border-radius: 10px;
    border-color:white;
    font-size: larger;
    padding: 10px 30px 10px 30px;
    border:0px;
    text-align: center;
}

.topContentLeft{
    display:inline-flex;
 

    flex-direction:column;
    height:10rem;
    flex:1;

    padding:0;
    
    /*
    width:500px;
    justify-content: center;
    align-content: center;
    */
}


.topContentBoth{
    display:flex;
   align-content: center;
    flex:1;

}

#headerSub{
    display:flex;
    width:380px;
    height: 100px;;
    font-size: 18px;
    margin: 5px 0px 10px 0px;

    flex:1;

}



#image{
   /* display:inline-flex;
    justify-content: start;
      width:50%;
    */
  
}

#hero{
    font-size: 48px;
    font-weight:800;
    margin-bottom:0;
    width:380px;
}

#headerLogo
{
    font-size: 24px;
    color:#F9FAF8;
    text-align: left;
    margin-top:22px;
}

.links{
    display:flex;
    align-content:space-between;
    justify-content: center;
}



a{
  
    margin-left:22px;
   
    font-size:16px;
}

.gray{
    display:flex;
    flex-direction: column;
    background-color: #E5E7EB;

    font-style: italic;
    font-size: 36px;


    padding-left:50rem;
    padding-right: 50rem;


  /*  padding-left:12%;
    padding-right:12%;
    padding-bottom: 8%; */
}
#quote{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}
.whiteBottom{
    padding-left:50rem;
    padding-right: 50rem;
    background-color:rgb(248, 248, 248) ;

}

.blueInside{
    background-color: #3882F6;
    border-radius: 10px;
        
}

.signUp{
}